<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">
    <link rel="stylesheet" href="./CSSFiles/stylesAccounts.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Account</title>
</head>
<body id="app">
    <header>
        <img id="iconoBan" src="./imagenes/MindHub_Brothers__2.png" alt="">
    </header>
    <ul class="nav">
        <li class="nav-item">
            <a id="currentPage" href="./cards.html" class="nav-link" aria-current="page">Cards</a>
        </li>
        <li class="nav-item">
            <a id="orderNewCardAlert" class="nav-link" href="./create-cards.html">Order New Cards</a>
        </li>
        <li class="nav-item">
            <a id="currentPage" href="./transactions.html" class="nav-link" aria-current="page">Transactions Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./loan-application.html">Loan Appplication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./paymentCredits.html">Debt Payments</a>
        </li>
        <!-- <li class="nav-item">
            <div id="searchBar">
                <input id="search1" type="search" placeholder="Enter to Search">
                <button id="search2" type="submit"><ion-icon class="searchButton" name="search-outline"></ion-icon></button>
            </div>
        </li> -->
        <li class="nav-item">
            <a href="#" v-on:click="logOut"><ion-icon class ="botonLogOut" name="log-out-outline"></ion-icon></a>
        </li>
    </ul>
    <main id="app">
        <h1>{{cliente}} Accounts</h1>
        <div id="cuerpoCartas">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Accounts</h4>
                    <h5 class="card-title">Number of Accounts</h5>
                    <p class="card-text">{{countingAccounts}}</p>
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text">{{totalBalance}}</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Loans</h4>
                    <h5 class="card-title">Number of Loans</h5>
                    <p class="card-text">{{countingAccounts}}</p>
                    <h5 class="card-title">Total Balance</h5>
                    <p class="card-text">{{totalBalanceLoans}}</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Create a new Account</h4>
                    <p class="card-text">if you would like a new account, 
                    please press the button below</p>
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">Select Account to Create</label>
                        <select id="disabledSelect" class="form-select" v-model="accountChoise">
                            <option value="CHECKING">CHECKING</option>
                            <option value="SAVING">SAVING</option>
                        </select>
                    </div>
                    <button v-on:click="createAccount" type="button" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
        <div id="divTabla">
            <table class="table table-striped">
                <h3>Account List</h3>
                <thead>
                    <th>Account Number</th>
                    <th>Balance</th>
                    <th>Creation Date</th>
                    <th>Type of Account</th>
                    <th>Transaction Details</th>
                    <th>Eliminate Account</th>
                </thead>
                <tbody>
                <tr v-if="accounts.length !== 0" v-for="account of accounts">
                    <td>{{account.number}}</td>
                    <td>{{account.balance}}</td>
                    <td>{{account.creationDate}}</td>
                    <td>{{account.typeAccount}}</td>
                    <!-- <td><a v-bind:href="'account.html?id='+account.id"><button type="button" class="btn btn-primary">Details</button></a></td> -->
                    <td><button type="button" class="btn btn-primary" v-on:click="openAccountDetails(account.id)">Details</button></td>
                    <td><button type="button" class="btn btn-danger" v-on:click="eliminateAccount(account.number)">Eliminate</button></td>
                </tr>
                <tr v-else>
                    <td colspan="6">You don't have any accounts, please go to our Products page <a href="#">here!</a></td>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
        <div id="divTabla">
            <table class="table table-striped">
                <h3>Loan List</h3>
                <thead>
                    <th>Loan ID</th>
                    <th>Loan Amount</th>
                    <th># Payments</th>
                    <th>Name Loan</th>
                </thead>
                <tbody>
                <tr v-if="clientLoans.length !== 0" v-for="loan of clientLoans">
                    <td>{{loan.serialNumber}}</td>
                    <td>{{loan.amount}}</td>
                    <td>{{loan.payments}}</td>
                    <td>{{loan.name}}</td>
                </tr>
                <tr v-else>
                    <td colspan="5">You don't have any loans!, please go to our Products page <a href="#">here!</a></td>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
        <div class="botonClase">
            <a href="#"><ion-icon class="buttonUp" name="arrow-up-outline"></ion-icon></a>
        </div>
    </main>
    <footer>
        <div class="divFooter">
            <a id="idFooter" href="#">Copyright © 2023 MindHub Brother Inc. Todos los derechos reservados.</a>
        </div>
        <div class="div5Footer">
            <a href="https://www.instagram.com/"><ion-icon class="logosRedes" name="logo-instagram"></ion-icon></a>
            <a href="https://www.facebook.com/"><ion-icon class="logosRedes" name="logo-facebook"></ion-icon></a>
            <a href="https://twitter.com/home"><ion-icon class="logosRedes" name="logo-twitter"></ion-icon></a>
            <a href="https://www.youtube.com/"><ion-icon class="logosRedes" name="logo-youtube"></ion-icon></a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="./JsFiles/accounts.js"></script>
</body>
</html>