<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">    <link rel="stylesheet" href="./CSSFiles/indexStyles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Client Credit Cards</title>
</head>
<body>
    <header>
        <img id="iconoBan" src="./imagenes/MindHub_Brothers__2.png" alt="">
    </header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Find a bank</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Digital Channels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
        </li>
        <!-- <li class="nav-item">
            <div id="searchBar">
                <input id="search1" type="search" placeholder="Enter to Search">
                <button id="search2" type="submit"><ion-icon class="searchButton" name="search-outline"></ion-icon></button>
            </div>
        </li> -->
    </ul>
    <main id="app">
        <h1>WELCOME TO MINDHUB BROTHERS</h1>
        <form class = "formularioLogin" @submit.prevent="postUsuario"> 
            <div class="divFormLogIn">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="usuario" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="divFormLogIn">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" v-model="contrasena" required>
            </div>
            <div class="divFormLogIn">
                <button type="submit" class="btn btn-primary" value="log In">Submit</button>
            </div>
            <fieldset class="fieldset2">
                <!-- <a class="loginUsuariosAlternos" v-on:click="loginManager">Login as Manager</a> -->
                <a class="loginUsuariosAlternos" href="./newUser.html">Register as New User</a>
            </fieldset>
        </form>
    </main>
    <footer>
        <div class="divFooter">
            <a id="idFooter" href="#">Copyright © 2023 MindHub Brother Inc. Todos los derechos reservados.</a>
        </div>
        <div class="div5Footer">
            <a href="https://www.instagram.com/"><ion-icon class="logosRedes" name="logo-instagram"></ion-icon></a>
            <a href="https://www.facebook.com/"><ion-icon class="logosRedes" name="logo-facebook"></ion-icon></a>
            <a href="https://twitter.com/home"><ion-icon class="logosRedes" name="logo-twitter"></ion-icon></a>
            <a href="https://www.youtube.com/"><ion-icon class="logosRedes" name="logo-youtube"></ion-icon></a>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js" integrity="sha256-t0FDfwj/WoMHIBbmFfuOtZv1wtA977QCfsFR3p1K4No=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="./JsFiles/index.js"></script>
</body>
</html>