/* @import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap'); */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{

    background: linear-gradient( rgba(32, 32, 32, 0.72), rgba(32, 32, 32, 0.72  ) ), url(../imagenes/floriane-vita-FyD3OWBuXnY-unsplash-modified.jpg);
    background-size: cover;
    z-index: 1;
}
p{
    margin-bottom: 0 !important;
    /* padding-bottom: 1rem !important; */
}

main{
    min-height: 67vh; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    /* margin: 1rem; */
    text-align: center;
}

h3{
    color: white;
    margin: 1rem;
}

/* div{
    margin: 2rem;
} */

td, th{
    text-align: center;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,65,121,1) 35%, rgba(0,212,255,1) 100%);    
    height: 10vh;
}

.nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;  
    background: linear-gradient(rgba(32, 32, 32, 0.72), rgba(32, 32, 32, 0.72  ));
    z-index: 2;
}
.nav-link{
    color: white;
    text-decoration: none;
}



/* .nav-item{
    transition: background-color .5s;

} */
/* .nav-item :hover{
    height: 20% !important;
    color: darkblue;
} */

footer{
    background-color:rgb(0,212,255);
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#iconoBan{
    /* object-fit: contain; */
    width: 20rem;
    height: 95%;
    /* background-color: rgb(39, 84, 136); */
    border-radius: 1rem;
    padding: 3px;
}

.divCards{
    display: flex;
    flex-direction: row;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: lightblue
}

#divTabla{
    margin-left: 11%;
    margin-right: 11%;
}

#orderNewCardAlert{
    color: rgb(0,212,255);
    text-decoration: underline !important;
}

#cuerpoCartas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.card{
    position: relative;
}

.table{
    background-color: white;
    border-radius: 4px;
}

#h6Id{
    font-size: large;
    font-weight: bold;
}

.div5Footer{
    display: flex;
    justify-content: end;
}

ion-icon{
    height: 2rem;
    width: 2rem;
    color: black;
}

.logosRedes:hover{
    color: white;
    /* object-fit: contain;
    height: 5rem;
    width: 5rem;
    margin: 1rem; */
}

.card-body{
    margin: 1rem;
}

/* .botonAtras{
    color: white;
    background-color: rgb(9,65,121) ;
    border-radius: 2rem;
} */

.botonLogOut{
    color: white;
    /* background-color: rgb(9,65,121) ; */
    /* border-radius: 2rem;
    padding: 10px; */
}

.buttonUp{
    position: sticky;
    bottom:0;
    color: white;
    background-color: rgb(9,65,121) ;
    border-radius: 2rem;
    padding: 10px;
}

.botonClase{
    display: flex;
    justify-content: end;
    align-content: end;
    position: sticky;
    bottom: 0;
}

.divFooter{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.div5Footer{
    display: flex;
    justify-content: end;
    margin: 2rem;
}

#idFooter{
    color: black;
    font-size: medium;
    text-decoration: none;
}

#searchBar{
    margin: 7px;
    background-color: white;
    height: 10%;
    border-radius: 1rem;
}

.searchButton{
    height: 1rem;
}

#noCardMessageDebit{
    display: flex;
    align-items: center;
    margin-left: 0;
    height: fit-content;
    /* align-items: center !important;
    justify-content: center !important; */
}

#divTarjetas1{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: white;
}

#divTarjetas2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

#noCardMessageCredit{
    display: flex;
    align-items: center;
    margin-left: 0;
    align-items: center !important;
    justify-content: center !important;
}

#search1, #search2{
    border: none;
    background-color: white;
    border-radius: 5px;
}

/* ---------------------------------------------------------------------------------- */
/* SECCION TARJETAS CSS */

.divPrincipalCards{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    /* align-items: center !important; */
    justify-content: center !important;
    gap: 1rem;
    margin-top: 5%;

}

.container1 {
    /* min-height: 70vh !important; */
    width: 100% !important;
    background: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.card1 {
    width: 500px !important;
    height: 300px !important;
    color: white !important;
    cursor: pointer !important;
    perspective: 1000px !important;
}

.card1-inner {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    transition: transform 1s !important;
    transform-style: preserve-3d !important;
}

.front, .back{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important; 
    top: 0 !important;
    left: 0 !important;
    padding: 20px 30px !important;
    border-radius: 15px !important;
    overflow: hidden !important; 
    z-index: 1 !important;
    backface-visibility: hidden !important;
}


.back2, .front2{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    padding: 20px 30px !important;
    border-radius: 15px !important;
    overflow: hidden !important;
    z-index: 1 !important;
    backface-visibility: hidden !important;
}

.GOLD{
    background-image: linear-gradient(45deg, rgb(124, 122, 21), #000000) !important;

}

.TITANIUM{
    background-image: linear-gradient(45deg, rgb(0, 0, 0), #797979) !important;
}

.SILVER{
    background-image: linear-gradient(45deg, #000000, #000000) !important;
}

.row1 {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

#numeroTarjetaDIV{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.map-img {
    width: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 0.3 !important;
    z-index: -1 !important;
}

#imgLogoChip{
    width: 60px !important;
}

.card1-no {
    font-size: 35px !important;
    margin-top: 60px !important;
}

.card1-holder {
    font-size: 12px !important;
    /* margin-top: 40px; */
}

.name {
    font-size: 22px !important;
    margin-top: 20px !important;
}

.bar {
    background: #222 !important; 
    margin-left: -30px !important;
    margin-right: -30px !important;
    height: 60px !important;
    margin-top: 10px !important;
}

.card1-cvv {
    display: flex;
    flex-direction: row !important;    
    margin-top: 20px !important;
}


#Pcards{
    padding-bottom: 1rem !important;
}

.card1-cvv div {
    flex: 1 !important;
}

.card1-cvv img {
    width: 100% !important;
    display: block !important;
    line-height: 0 !important;
}

.card1-cvv p {
    background: #fff !important;
    color: #000 !important;
    font-size: 22px !important;
    padding: 10px 20px !important; 
}

.card1-text {
    margin-top: 30px !important;
    font-size: 14px !important;
}

.signature1 {
    margin-top: 30px !important;
}

.back {
    transform: rotateY(180deg) !important;
}

.back2 {
    transform: rotateY(180deg) !important;
}

.card1:hover .card1-inner {
    transform: rotateY(-180deg) !important;
}

#erraseCardBtn{
    color: white;
}

#ExpiredH4{
    background-color: red;
    padding: 1%;
    border-radius: 8px;
}

@media only screen and (min-width: 300px) and (max-width: 321px) {
    .card1 {
        width: 300px !important;
        height: 240px !important;
        color: white !important;
        cursor: pointer !important;
        perspective: 1000px !important;
    }

    .container1 {
        width: 100% !important;
        background: none !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 0;
        /* margin-bottom: 2rem; */
    }

    .card1-no {
        font-size: 25px !important;
        margin-top: 40px !important;
    }

    .name {
        font-size: 18px !important;
        margin-top: 0 !important;
    }

    #imgLogoChip{
        width: 45px !important;
    }

    .card1-cvv p {
        background: #fff !important;
        color: #000 !important;
        font-size: 15px !important;
        padding: 3px 3px !important; 
    }

    .card1-text {
        margin-top: 15px !important;
        font-size: 10px !important;
    }

    .signature1 {
        margin-top: 15px !important;
        font-size: 12px !important;
    }

    .bar {
        background: #222 !important; 
        margin-left: -30px !important;
        margin-right: -30px !important;
        height: 45px !important;
        margin-top: 10px !important;
    }

}

@media only screen and (min-width: 322px) and (max-width: 375px) {
    .card1 {
        width: 300px !important;
        height: 240px !important;
        color: white !important;
        cursor: pointer !important;
        perspective: 1000px !important;
    }

    .container1 {
        width: 100% !important;
        background: none !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 0;
        /* margin-bottom: 2rem; */
    }

    .card1-no {
        font-size: 25px !important;
        margin-top: 40px !important;
    }

    .name {
        font-size: 18px !important;
        margin-top: 0 !important;
    }

    #imgLogoChip{
        width: 45px !important;
    }

    .card1-cvv p {
        background: #fff !important;
        color: #000 !important;
        font-size: 15px !important;
        padding: 3px 3px !important; 
    }

    .card1-text {
        margin-top: 15px !important;
        font-size: 10px !important;
    }

    .signature1 {
        margin-top: 15px !important;
        font-size: 12px !important;
    }

    .bar {
        background: #222 !important; 
        margin-left: -30px !important;
        margin-right: -30px !important;
        height: 45px !important;
        margin-top: 10px !important;
    }


}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .card1 {
        width: 300px !important;
        height: 240px !important;
        color: white !important;
        cursor: pointer !important;
        perspective: 1000px !important;
    }

    .container1 {
        width: 100% !important;
        background: none !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin-left: 0;
    }

    .card1-no {
        font-size: 25px !important;
        margin-top: 40px !important;
    }

    .name {
        font-size: 18px !important;
        margin-top: 0 !important;
    }

    #imgLogoChip{
        width: 45px !important;
    }

    .card1-cvv p {
        background: #fff !important;
        color: #000 !important;
        font-size: 15px !important;
        padding: 3px 3px !important; 
    }

    .card1-text {
        margin-top: 15px !important;
        font-size: 10px !important;
    }

    .signature1 {
        margin-top: 15px !important;
        font-size: 12px !important;
    }

    .bar {
        background: #222 !important; 
        margin-left: -30px !important;
        margin-right: -30px !important;
        height: 45px !important;
        margin-top: 10px !important;
    }
}